* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: rgb(20, 20, 20)
}

body {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.App {
    transition: all 0.5s ease;
}

.library-active {
    margin-left: 30%;
}

@import './player';
@import './song';
@import './library';
@import './nav';